name: Update Bilibili RSS

on:
  schedule:
    # 每天国际标准时间 0点 和 12点 运行（对应北京时间 8点 和 20点）
    - cron: '0 0,12 * * *'
  workflow_dispatch: # 允许你手动点击按钮运行测试

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script
        run: python main.py

      - name: Commit and Push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          # 强制把所有 output 下的文件加入（包括日志）
          git add output/
          # 只有当有东西可以提交时才提交，否则安静退出
          git commit -m "Auto update RSS feed" || echo "⚠️ Nothing to commit"
          git push
